/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ============= header section =============== */

.header {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(images/donation.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin: auto;
}

.header-info .header-title {
    font-size: 55px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: capitalize;
}

.header-info p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin: 35px 0;
    text-align: center;
    width: 70%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #FF5959;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
}

/* ============= Donate now section =============== */

.donate-now {
    width: 1000px;
    margin: 120px auto 0 auto;
}

.donate-now .title {
    color: #121212;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.donate-now p {
    text-align: center;
    margin-bottom: 50px;
    width: 800px;
    margin: auto;
}

.donate-now .ammount-list ul {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.donate-now .ammount-list ul li {
    height: 150px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    color: #707070;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
}

.donate-now .ammount-list ul #ammount-list-second {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}

.donate-now .custom-ammount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.donate-now .custom-ammount input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #707070;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
}

/* ============= Donate plan section =============== */

.donate-plan {
    margin-top: 120px;
}

.donate-plan .title {
    color: #121212;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.donate-plan .description {
    text-align: center;
    margin-bottom: 50px;
    width: 800px;
    margin: auto;
}

.donate-plan .plans {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.donate-plan .plans .plan {
    padding: 60px 30px;
}

.donate-plan .plans .plan img {
    width: 45px;
    height: auto;
}

.donate-plan .plans .plan h3 {
    font-size: 20px;
    color: #121212;
    margin: 20px 0;
}

.donate-plan .plans .plan p {
    font-size: 15px;
    color: rgba(18, 18, 18, 0.8);
    font-weight: 300;
}

.donate-plan .plans .plan1 {
    background-color: rgba(79, 157, 166, 0.1);
}

.donate-plan .plans .plan2 {
    margin: 0 30px;
    background-color: rgba(255, 89, 89, 0.1);
}

.donate-plan .plans .plan3 {
    background-color: #FFF4D6;
}

/* ============= Donation History section =============== */

.donation-numbers {
    margin: 120px auto;
}

.donation-numbers .title {
    color: #121212;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.donation-numbers .all-numbers{
    display: flex;
    justify-content: space-between;
}

.donation-numbers .number {
    display: flex;
    align-items: center;
}

.donation-numbers .number .img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
}

.donation-numbers .number .img1 {
    background: rgba(79, 157, 166, 0.1);
}

.donation-numbers .number .img2 {
    background: rgba(255, 89, 89, 0.1);
}

.donation-numbers .number .img3 {
    background: #FFF4D6;
}

.donation-numbers .number .img img {
    width: 50px;
    height: auto;
}

.donation-numbers .number h4 {
    font-size: 35px;
    color: #121212;
}

.donation-numbers .number p {
    font-size: 15px;
    color: #121212;
}

/* ============= Get Update section =============== */

.get-updates {
    width: 1000px;
    margin: 120px auto;
}

.get-updates .title {
    color: #121212;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.get-updates .description {
    text-align: center;
    margin: 50px auto;
    width: 800px;
}

.get-updates form {
    width: 100%;
    background: #FFF4D6;
    padding: 70px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.get-updates form input {
    width: 300px;
    padding-left: 20px;
    background: #e9e9e9;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

.get-updates form .button {
    border-radius: 0 5px 5px 0;
}


/* ============= Footer Section =============== */
footer {
    width: 100%;
    background: #121212;
    padding: 50px;
}

footer h4 {
    font-size: 35px;
    color: #FF5959;
    margin-bottom: 10px;
    text-align: center;
}

footer p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: center;
}